@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: titillium-semibold;
    src: url(/assets/fonts/TitilliumWeb-SemiBold.ttf);
  }

  @font-face {
    font-family: titillium-black;
    src: url(/assets/fonts/TitilliumWeb-Black.ttf);
  }

  @font-face {
    font-family: titillium-light;
    src: url(/assets/fonts/TitilliumWeb-Light.ttf);
  }

  @font-face {
    font-family: titillium-regular;
    src: url(/assets/fonts/TitilliumWeb-Regular.ttf);
  }

  @font-face {
    font-family: zen-bold;
    src: url(/assets/fonts/ZenOldMincho-Bold.ttf);
  }

  @font-face {
    font-family: zen-black;
    src: url(/assets/fonts/ZenOldMincho-Black.ttf);
  }

  @font-face {
    font-family: zen-regular;
    src: url(/assets/fonts/ZenOldMincho-Regular.ttf);
  }

  html,
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
  .hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 10;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6) 15%,
      rgba(0, 0, 0, 0.2) 90%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }

  .navbar {
    height: 150px;
  }

  .navbar-title {
    opacity: 0;
  }

  .scrolled .navbar-wrapper::before {
    opacity: 0;
  }

  .scrolled .navbar-logo {
    opacity: 0;
  }

  .scrolled .navbar-title {
    opacity: 1;
  }

  .scrolled .navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
  }

  .gallery-card,
  .gallery-title,
  .product-card {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transform: translateX(-50px);

    opacity: 0;
    filter: blur(5px);
  }

  .gallery-title.intersect {
    transition-delay: 0.3s;
    transform: translateX(0);
    opacity: 1;
    filter: none;
  }

  .gallery-card.intersect,
  .product-card.intersect {
    opacity: 1;
    filter: none;
    transform: translateX(0);
  }

  .gallery-card.intersect:nth-child(1) {
    transition-delay: 0.3s;
  }
  .gallery-card.intersect:nth-child(2) {
    transition-delay: 0.4s;
  }
  .gallery-card.intersect:nth-child(3) {
    transition-delay: 0.5s;
  }
  .gallery-card.intersect:nth-child(4) {
    transition-delay: 0.6s;
  }

  .product-card.intersect:nth-child(1),
  .product-card.intersect:nth-child(4) {
    transition-delay: 0.3s;
  }

  .product-card.intersect:nth-child(2),
  .product-card.intersect:nth-child(5) {
    transition-delay: 0.4s;
  }
  .product-card.intersect:nth-child(3),
  .product-card.intersect:nth-child(6) {
    transition-delay: 0.5s;
  }

  .card-shadow {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }
}
