@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
  .navbar-wrapper::before {
    transition-duration: 0.3s;

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8743872549019608) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.40379901960784315) 100%
    );
  }

  .navbar {
    height: 150px;
  }

  .navbar-title {
    opacity: 0;
  }

  .scrolled .navbar-wrapper::before {
    opacity: 0;
  }

  .scrolled .navbar-logo {
    opacity: 0;
  }

  .scrolled .navbar-title {
    opacity: 1;
  }

  .scrolled .navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
