@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
  .stick-top-navbar {
    @apply h-[15vh];
  }

  .stick-top-navbar .navbar-logo {
    @apply w-[max(7vw,80px)];
  }
}
